# Dependências
node_modules/

# Ambiente
.env

# Logs
logs
*.log
npm-debug.log*

# Arquivos de Runtime
pids
*.pid
*.seed
*.pid.lock

# Diretório de Debug
.idea
.vscode
*.swp
*.swo

# Arquivos do sistema
.DS_Store
Thumbs.db